<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <display-name>BankManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlt</display-name>
    <servlet-name>RegisterServlt</servlet-name>
    <servlet-class>servlet.RegisterServlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlt</servlet-name>
    <url-pattern>/RegisterServlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlt</display-name>
    <servlet-name>LoginServlt</servlet-name>
    <servlet-class>servlet.LoginServlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlt</servlet-name>
    <url-pattern>/LoginServlt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionDAO</display-name>
    <servlet-name>TransactionDAO</servlet-name>
    <servlet-class>util.TransactionDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionDAO</servlet-name>
    <url-pattern>/TransactionDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositeServlet</display-name>
    <servlet-name>DepositeServlet</servlet-name>
    <servlet-class>servlet.DepositeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositeServlet</servlet-name>
    <url-pattern>/DepositeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawServlet</display-name>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>servlet.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/WithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferServlet</display-name>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>servlet.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/TransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>servlet.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserActionServlet</display-name>
    <servlet-name>UserActionServlet</servlet-name>
    <servlet-class>servlet.UserActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserActionServlet</servlet-name>
    <url-pattern>/UserActionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOtpServlet</display-name>
    <servlet-name>VerifyOtpServlet</servlet-name>
    <servlet-class>servlet.VerifyOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOtpServlet</servlet-name>
    <url-pattern>/VerifyOtpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendForgotOtpServlet</display-name>
    <servlet-name>SendForgotOtpServlet</servlet-name>
    <servlet-class>servlet.SendForgotOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendForgotOtpServlet</servlet-name>
    <url-pattern>/SendForgotOtpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetpasswordServlet</display-name>
    <servlet-name>ResetpasswordServlet</servlet-name>
    <servlet-class>servlet.ResetpasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetpasswordServlet</servlet-name>
    <url-pattern>/ResetpasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendOtpServlet</display-name>
    <servlet-name>SendOtpServlet</servlet-name>
    <servlet-class>servlet.SendOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendOtpServlet</servlet-name>
    <url-pattern>/SendOtpServlet</url-pattern>
  </servlet-mapping>
</web-app>